
<%= form_for @message do |f| %>

  <%= render 'shared/error_messages', object: f.object %>

    <div class="field">
      <%= f.text_field :name , placeholder: "Tu Nombre *" %>
    </div>
    <div class="field">
      <%= f.email_field :email , placeholder: "Tu Email *" %>
    </div>
    <div class="field">
      <%= f.text_area :content , placeholder: "Tu Mensaje *" %>
    </div>

  <div class="actions">
    <%= f.submit 'Enviar', class: 'btn btn-primary ', id: 'submit-contact' %>
  </div>
<% end %>

<script type="text/javascript">
$(document).ready(function () {
  $('#message_name').val('');
  $('#message_email').val('');
  $('#message_tel').val('');
//  $('#message_content').val('');
});
</script>