
<%= form_for @message do |f| %>

  <%= render 'shared/error_messages', object: f.object %>

<div class="row row-contact">
  <div class="col-md-6">
    <div class="field">
      <%= f.text_field :name , placeholder: "Nombre" %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="field">
      <%= f.email_field :email , placeholder: "Email" %>
    </div>
  </div>
</div>

<div class="row row-contact">
  <div class="col-md-12">
    <div class="field">
      <%= f.text_area :content , placeholder: "Mensaje" %>
    </div>
  </div>
</div>

  <div class="actions">
    <%= f.submit 'Enviar', class: 'btn btn-primary contact-button', id: 'submit-contact' %>
  </div>
<% end %>

<script type="text/javascript">
$(document).ready(function () {
  $('#message_name').val('');
  $('#message_email').val('');
  $('#message_tel').val('');
//  $('#message_content').val('');
});
</script>