<% provide(:title, 'Desarrollo Web | BunDev ') %>


<section id="welcome">
  <div class='text-left' >

    <div class="container-home">
      <h2 >¡Bienvenido a <b>BunDev!</b></h2> 

      <h2>Desarrollo Web a tu medida</h2>

      <button class="btn btn-primary " id="about-button" >
        Conocenos
      </button>
    </div>
  </div>
</section>

<nav id="main-nav" class="navbar navbar-inverse"  >
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar3">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="/"><img src=<%= image_path "logo.png" %> style="height:50px" alt="logo bundev ">
      </a>
    </div>
    <div id="navbar3" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="#" id="home-link">Inicio</a></li>
        <li><a href="#" id="about-link">Nosotros</a></li>  
        <li><a href="#" id="portfolio-link">Portfolio</a></li>  
      </ul>
    </div>
  </div>
</nav>

<div class="fixed-contact-button" data-toggle="modal" data-target=".bs-example-modal-lg">
  <i class="fa fa-envelope-o" aria-hidden="true" style="color:white"></i>
</div>



<div class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="contact-modal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <%= render "contact_modal" %>
    </div>
  </div>
</div>


<section id="about">
  <div class='text-center container'>
    <div class="row">
        
      <div class="title-separator" >
        <span class="title-span" >
          QUIENES SOMOS
        </span>
      </div>
      <p>Somos dos amigos Argentinos, recibidos en la Universidad Tecnológica de Buenos Aires hace unos años.
       Actualmente dedicados al desarrollo de Sitios Web.</p>

      <div class="col-md-offset-2 col-md-3">
        <div class="circular-img img-lucho"> 
        </div>
        Monardo
      </div>

      <div class="col-md-offset-1 col-md-3 ">
        <div class="circular-img img-martin"> 
        </div>
        Pipa
      </div>
    </div>
      
    <div class="title-separator" >
      <span class="title-span" >
        QUE HACEMOS
      </span>
    </div>
  </div>
   
  <div class="row" style="margin-top: 2em;">
    <div class="col-md-2 col-md-offset-3 col-todo text-center "> 
      <div class="circular-link "> <i class="fa fa-briefcase" style="color:black; font-size: 0.8em" aria-hidden="true"></i> </div>
      <h3> Desarrollo Backend </h3>
      <p> Nuestra especialidad.
        Desarrollamos desde landing-pages estáticas hasta webs altamente funcionales.</p>
    </div>
    <div class="col-md-2 col-todo text-center">
      <div class="circular-link "><i class="fa fa-paint-brush" style="color:black; font-size: 0.8em" aria-hidden="true"></i> </div>
      <h3> Desarrollo Front-End </h3>
      <p> Si bien no podemos decir que el diseño sea nuestra especialidad, podemos adaptarnos al que propongas y programarlo de forma que se adapte a cualquier dispositivo.</p>
    </div>
    <div class="col-md-2 col-todo text-center"> 
      <div class="circular-link "><i class="fa fa-shopping-cart" style="color:black; font-size: 0.8em" aria-hidden="true"></i> </div>
      <h3> Tiendas Virtuales </h3>
      <p> Desarrollamos tu e-commerce de cero con todas tus preferencias. Permití a tus clientes ver tu catálogo online y realizar sus compras desde la web. </p>
    </div>
  </div>
</section>

<!--
      <ul class="nav nav-tabs text-center" >
        <li class="active"><a href="#menu1" data-toggle="tab" >Desarrollo Backend </a></li>
        <li><a href="#menu2" data-toggle="tab" >Desarrollo Front-End</a></li>
        <li><a href="#menu3" data-toggle="tab" >Tiendas Online</a></li>
      </ul>
      <div class="container text-center">
        <div class="tab-content">
          <div id="menu1" class="tab-pane active">
            <p> Nuestra especialidad son los desarrollos altamente funcionales.
            Desarrollamos desde landing-pages estáticas hasta webs altamente funcionales.</p>
          </div>
          <div id="menu2" class="tab-pane ">
            <p> Si bien no podemos decir que el diseño sea nuestra especialidad, podemos adaptarnos al que propongas y programarlo.</p>
          </div>
          <div id="menu3" class="tab-pane ">
            <p> Desarrollamos tu e-commerce de cero. Permitiendo a tus clientes ver tu catálogo online y realizar sus compras desde la web. </p>
          </div>
        </div>
      </div>
-->

<section id="tools">
  <div class='text-center' >
    <div class="row" style="margin-top: 2em;">
      <div class="title-separator" >
        <span class="title-span" >
          LAS HERRAMIENTAS QUE USAMOS
        </span>
      </div> 
      <div class="col-md-2 col-sm-0"></div>

      <div class="col-md-4 col-sm-6">
        <%= image_tag "css_html.png", class: "tooltip-icon", style: "width:100%"%>
        <div class="center-block" style="font-size: 0.8em; width: 80%"  >
          <p style="font-weight: bold;"> Html5 + Css3 + JQuery + Bootstrap</p>
          <p> Las últimas versiones de las herrramientas más comunes en el desarrollo web frontend moderno, la funcionalidad del lado del navegador y la estética de los sitios nunca fue tan importante como ahora.</p>
        </div>
      </div> 
      
      <div class="col-md-4 col-sm-6">
        <%= image_tag "rails.png", class: "tooltip-icon" %>
        <div class="center-block"  style="font-size: 0.8em;  width: 80%" >
          <p style="font-weight: bold; "> Ruby on Rails </p>
          <p> También conocido como RoR o Rails, es un framework de aplicaciones web de código abierto escrito en el lenguaje de programación Ruby, siguiendo el paradigma del patrón Modelo Vista Controlador (<a href="https://es.wikipedia.org/wiki/Modelo%E2%80%93vista%E2%80%93controlador" target="_blank" >MVC</a>).</p>
        </div>
      </div>

      <div class="col-md-2 col-sm-0 "></div>
    </div>  
  </div>
</section>

<section id="portfolio">
  <div class='text-center'  >
      <div class="title-separator" >
        <span class="title-span" >
          ALGUNOS DE NUESTROS DESARROLLOS
        </span>
      </div> 
    <ul class="portfolio-list">
      <li>
        <div class="preview-portfolio">
          <%= image_tag ("preview-1.jpg"), class:"picture" %>
          <div class="content"> 
            <h4> Diseño Web Nice </h4>
            <%= truncate("Donec aliquam eget magna quis convallis. In nec rhoncus ex. Duis libero purus, tincidunt ac commodo ac, vulputate at est. Nunc convallis sit amet lacinia varius. ", length:75) %>
          </div>
        </div>
      </li>
      <li>
      <div class="preview-portfolio">
        <%= image_tag ("preview-2.jpg"), class:"picture" %>
        <div class="content"> 
          <h4> Diseño Web Nice </h4>
          <%= truncate("Donec aliquam eget magna quis convallis. In nec rhoncus ex. Duis libero purus, tincidunt ac commodo ac, vulputate at est. Nunc convallis sit amet lacinia varius. ", length:75) %>
          </div>
        </div>
      </li>
      </ul>
  </div>
</section>


<script>



    $("#home-link").click( function() {
      $('html, body').animate({
          scrollTop: $("#welcome").offset().top - 50 
      }, 1000);
    });

    $("#about-link").click( function() {
      $('html, body').animate({
          scrollTop: $("#about").offset().top - 50 
      }, 1000);
    });

    $("#portfolio-link").click( function() {
      $('html, body').animate({
          scrollTop: $("#portfolio").offset().top - 50
      }, 1000);
    });




</script>

<script type="text/javascript">


  $(document).ready(function () {
    $('.fixed-contact-button').click(function () {
        $('.bs-example-modal-lg').fadeIn("slow  ");
    });
  });

  $("#about-button").click( function() {
    $('html, body').animate({
         scrollTop: $("#about").offset().top - 50 //TODO: este 50 es polemico
    }, 1000);
  });

  $('.preview-portfolio').hover( 
      function() {
        $(this).children('.picture').toggleClass("pic-active",true);
        $(this).children('.content').show(500);
      },
      function() {
        $(this).children('.picture').removeClass("pic-active",true);
        $(this).children('.content').hide(500);
      }
  );

  var limit=-1;

  $(window).scroll( function(){
    if ($("#main-nav")[0].getBoundingClientRect().y <= 0)
    {
      if (limit == -1) limit =  $(window)['scrollTop']();
      $("#main-nav").addClass("navbar-fixed-top");
      $("#about").css("padding-top","5em");
    }
    if ($(window)['scrollTop']() < limit)
    {
      $("#main-nav").removeClass("navbar-fixed-top");
      $("#about").css("padding-top","0px");
      limit=-1;
    }
  });


  //TODO En mobile desactivar esto porque se ve mal
 /*
  $(function() {
      $(window).scroll( function(){
          $('.fadeInBlock').each( function(i){
              
              var bottom_of_object = $(this).position().top + $(this).outerHeight();
              var bottom_of_window = $(window).scrollTop() + $(window).height();
              
              bottom_of_window = bottom_of_window + 300;  
            
              if( bottom_of_window > bottom_of_object ){
                  
                  $(this).animate({'opacity':'1'},700);
                      
              }
          }); 
      });
  });

   */



</script>