<% provide(:title, 'Desarrollo Web | BunDev ') %>


<section id="welcome">
  <div class='text-center' >

    <div class="container" style="padding-top:10em;">
      <h1 >¡Bienvenido a BunDev!</h1> 

      <h1>Desarrollo Web a tu medida</h1>

      <p> Somos dos desarrolladores web Freelance radicados en Argentina y España. </p>
      <button class="btn btn-primary " id="about-button" >
        Conocenos
      </button>
    </div>
  </div>
</section>

<nav id="main-nav" class="navbar navbar-inverse"  >
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar3">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="/"><img src=<%= image_path "logo.png" %> style="height:50px" alt="logo bundev ">
      </a>
    </div>
    <div id="navbar3" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="#">Inicio</a></li>
        <li><a href="#" id="about-link">Nosotros</a></li>  
        <li><a href="#" id="portfolio-link">Portfolio</a></li>  
        <li><a href="#" id="contact-link">Contactanos</a></li>  
      </ul>
    </div>
  </div>
</nav>

<section id="about">
  <div class='text-center container'>
    <div class="row">
  <!--          <p style=" font-style: italic;">
              Somos dos programadores freelance dedicados al diseño y creacioń de sitios Web
           Ofrecemos un primer contacto gratuito para discutir en detalle el proyecto y el presupuesto propuesto.
             Nos encargamos del diseño y desarrollo del sitio web, escuchando sus ideas e implementando el diseño que quiere y se imagina.Podemos ayudarte con el diseño de tu nueva página web o tienda online. Diseñaremos y desarrollaremos una página web moderna, atractiva y efectiva que te ayudará a diferenciarte de tu competencia, generar confianza y vender más. 
            Una vez finalizado el desarrollo ofrecemos servicio de hosting, y soporte gratuito por un mes. También ofrecemos 
              soporte a largo término por un bajo costo.
            </p>-->
        
      <h1> ¿Quienes somos? </h1>

      <h1> ¿Que hacemos? </h1>
    </div>
  </div>
   
      <ul class="nav nav-tabs text-center" >
        <li><a href="#menu1" data-toggle="tab" >Desarrollo Backend </a></li>
        <li><a href="#menu2" data-toggle="tab" >Desarrollo Front-End</a></li>
        <li><a href="#menu3" data-toggle="tab" >Tiendas Online</a></li>
      </ul>
      <div class="container text-center">
        <div class="tab-content">
          <div id="menu1" class="tab-pane active">
            <p> Nuestra especialidad son los desarrollos altamente funcionales.
            Desarrollamos desde landing-pages estáticas hasta webs altamente funcionales.</p>
          </div>
          <div id="menu2" class="tab-pane ">
            <p> Nuestros diseños Responsive permiten el acceso tanto por métodos convencionales como desde celulares. Desde 2014 que el tráfico Web por celulares superó al de ordenadores.</p>
          </div>
          <div id="menu3" class="tab-pane ">
            <p> Desarrollamos tu e-commerce de cero. Permitiendo a tus clientes ver tu catálogo online y realizar sus compras desde la web. </p>
          </div>
        </div>
      </div>

</section>

<section id="tools">
  <div class='text-center' >
    <div class="row" style="margin-top: 2em;">
      <h1> ¿Con que trabajamos? </h1>
      <p style="font-style: italic"> Algunas de las herramientas que usamos en nuestros desarrollos </p>
      <div class="col-md-3"></div>
      <div class="col-md-3">
        <%= image_tag "rails.png", class: "tooltip-icon" %>
        <div style="font-size: 0.8em;" >
          <p style="font-weight: bold;"> Ruby on Rails </p>
          <p> También conocido como RoR o Rails, es un framework de aplicaciones web de código abierto escrito en el lenguaje de programación Ruby, siguiendo el paradigma del patrón Modelo Vista Controlador (MVC).</p>
        </div>
      </div>
      <div class="col-md-3">
        <%= image_tag "html5css3.png", class: "tooltip-icon", style: "width:15em"%>
        <div style="font-size: 0.8em;" >
          <p style="font-weight: bold;"> Html5 + Css3 </p>
          <p> Las últimas versiones de las herrramientas más comunes en el desarrollo web moderno.</p>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>  
  </div>
</section>

<section id="portfolio">
  <div class='text-center'  >
    <h1> ¿Que sitios hicimos? </h1>
    <p> Algunos de nuestros trabajos </p>
    <ul class="portfolio-list">
      <li>
        <div class="preview-portfolio">
          <%= image_tag ("preview-1.jpg"), class:"picture" %>
          <div class="content"> 
            <h4> Diseño Web Nice </h4>
            <%= truncate("Donec aliquam eget magna quis convallis. In nec rhoncus ex. Duis libero purus, tincidunt ac commodo ac, vulputate at est. Nunc convallis sit amet lacinia varius. ", length:75) %>
          </div>
        </div>
      </li>
      <li>
      <div class="preview-portfolio">
        <%= image_tag ("preview-2.jpg"), class:"picture" %>
        <div class="content"> 
          <h4> Diseño Web Nice </h4>
          <%= truncate("Donec aliquam eget magna quis convallis. In nec rhoncus ex. Duis libero purus, tincidunt ac commodo ac, vulputate at est. Nunc convallis sit amet lacinia varius. ", length:75) %>
          </div>
        </div>
      </li>
      </ul>
  </div>
</section>

<section id="contacto">
  <div class='text-center' >
    <h2> Contactanos </h2>
    <p> </p>
    <div class="row">
      <div class="col-md-3 col-sm-0"></div>  
      <div class="col-md-3 col-sm-12"> 
        <h4 style="margin-top:0"> Información de contacto </h4><br>
        <div style="font-size:0.9em;">
          <i class='fa fa-phone' aria-hidden='true' ></i> 4444-4444<br>
          <i class='fa fa-phone' aria-hidden='true' ></i> 610-617-057<br>
          <i class='fa fa-envelope' aria-hidden='true' ></i> info@bundev.com.ar<br>
          <i class='fa fa-globe' aria-hidden='true' ></i><a href="http://www.bundev.com.ar"> www.bundev.com.ar</a> <br>
        </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="contact-column" style="color:black;" > 
          <%= render("contact_form") %>
        </div>
      </div>
    </div>
  </div>
</section>

<script>


    $("#about-link").click( function() {
      $('html, body').animate({
          scrollTop: $("#about").offset().top - 50 
      }, 1000);
    });

    $("#portfolio-link").click( function() {
      $('html, body').animate({
          scrollTop: $("#portfolio").offset().top - 50
      }, 1000);
    });

    $("#contact-link").click( function() {
      $('html, body').animate({
          scrollTop: $("#contacto").offset().top - 50 
      }, 1000);
    });



</script>

<script type="text/javascript">
  
  $("#about-button").click( function() {
    $('html, body').animate({
         scrollTop: $("#about").offset().top - 50 //TODO: este 50 es polemico
    }, 1000);
  });

  $('.preview-portfolio').hover( 
/*    function() {
        $(this).animate({
            width: this.width*9/10,
             heigh: this.height*9/10,
      })},
    function() {
        $(this).animate({
            width: this.width*10/9,
            heigh: this.height*10/9,
      })}*/
      function() {
        $(this).children('.picture').toggleClass("pic-active",true);
        $(this).children('.content').show(500);
      },
      function() {
        $(this).children('.picture').removeClass("pic-active",true);
        $(this).children('.content').hide(500);
      }
  );

  var limit=-1;

  $(window).scroll( function(){
    if ($("#main-nav")[0].getBoundingClientRect().y <= 0)
    {
      if (limit == -1) limit =  $(window)['scrollTop']();
      $("#main-nav").addClass("navbar-fixed-top");
      $("#about").css("padding-top","5em");
    }
    if ($(window)['scrollTop']() < limit)
    {
      $("#main-nav").removeClass("navbar-fixed-top");
      $("#about").css("padding-top","0px");
      limit=-1;
    }
  });


  //TODO En mobile desactivar esto porque se ve mal
 /*
  $(function() {
      $(window).scroll( function(){
          $('.fadeInBlock').each( function(i){
              
              var bottom_of_object = $(this).position().top + $(this).outerHeight();
              var bottom_of_window = $(window).scrollTop() + $(window).height();
              
              bottom_of_window = bottom_of_window + 300;  
            
              if( bottom_of_window > bottom_of_object ){
                  
                  $(this).animate({'opacity':'1'},700);
                      
              }
          }); 
      });
  });

   */



</script>